<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href=".static/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href=".static/theme.css" rel="stylesheet">
    <link type="text/css" href=".static/hive.css" rel="stylesheet">

</head>



<body>

    <div class="content-ui">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner bg-green">
                <div class="container">

                    <a class="brand">
                        ICT PORTAL
                    </a>


                </div>
            </div><!-- /navbar-inner -->
        </div>

        <div class="wrapper">

            <div class="container">

                <div class="row">

                    <h1 style="text-align:center">Loading...</h1>
                    <h3 style="text-align:center">Waiting to server response</h3>

                </div>
            </div><!--/.container-->
        </div><!--/.wrapper-->

        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; 2020 ICT Portal </b> All rights reserved.
            </div>
        </div>

    </div>


</body>
